table {
	width: 100%;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
	font-size: .9em;
	text-align: justify;
}
img {
	border: medium ridge #666666;
}
a{
	color: #B57704;
	text-decoration: none;
}
a:visited {
	text-decoration:none;
}
.specs {
	font-weight: bold;
	font-variant: small-caps;
}
a:hover {
	background-color: #E3F7FB;
	text-decoration: underline overline;
}