vti_encoding:SR|utf8-nl
vti_author:SR|COSTANOTE\\Thales
vti_modifiedby:SR|COSTANOTE\\Thales
vti_timelastmodified:TR|19 Apr 2019 02:06:05 -0000
vti_timecreated:TR|19 Apr 2019 00:50:58 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|TermProject/AboutUs.html
vti_nexttolasttimemodified:TW|19 Apr 2019 01:45:00 -0000
vti_cacheddtm:TX|19 Apr 2019 02:06:05 -0000
vti_filesize:IR|270
