vti_encoding:SR|utf8-nl
vti_author:SR|COSTANOTE\\Thales
vti_modifiedby:SR|COSTANOTE\\Thales
vti_timelastmodified:TR|19 Apr 2019 02:05:37 -0000
vti_timecreated:TR|18 Apr 2019 19:46:16 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|TermProject/ContactUs.html
vti_nexttolasttimemodified:TW|19 Apr 2019 02:05:04 -0000
vti_cacheddtm:TX|19 Apr 2019 02:05:37 -0000
vti_filesize:IR|523
