vti_encoding:SR|utf8-nl
vti_author:SR|COSTANOTE\\Thales
vti_modifiedby:SR|COSTANOTE\\Thales
vti_timelastmodified:TR|19 Apr 2019 03:24:45 -0000
vti_timecreated:TR|18 Apr 2019 18:16:14 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|TermProject/SiteMap.html TermProject/Images/SiteMap.html
vti_nexttolasttimemodified:TW|19 Apr 2019 03:24:36 -0000
vti_cacheddtm:TX|19 Apr 2019 03:24:45 -0000
vti_filesize:IR|766
vti_cachedlinkinfo:VX|S|Images/wallpaperHouse.jpg S|Images/ListBullet.gif
vti_cachedsvcrellinks:VX|FSUS|TermProject/Images/wallpaperHouse.jpg FSUS|TermProject/Images/ListBullet.gif
