vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|26 May 2019 20:42:50 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|COSTANOTE\\Thales
vti_modifiedby:SR|COSTANOTE\\Thales
vti_timecreated:TR|10 Apr 2019 02:13:06 -0000
vti_backlinkinfo:VX|TermProject/ContactUs.html TermProject/AboutUs.html TermProject/HouseList.html TermProject/SiteMap.html TermProject/99king.html TermProject/381main.html TermProject/95coleman.html TermProject/Template.dwt TermProject/Index.html TermProject/111gledhill.html TermProject/444main.html
vti_nexttolasttimemodified:TW|19 Apr 2019 03:28:18 -0000
vti_cacheddtm:TX|19 Apr 2019 03:28:18 -0000
vti_filesize:IR|2229
vti_cachedlinkinfo:VX|S|Images/wallpaperHouse.jpg
vti_cachedsvcrellinks:VX|FSUS|TermProject/Images/wallpaperHouse.jpg
